body {
	font-family: 'Quicksand', sans-serif;
	background-color: #f3f1ea;
}

/****************************HEADER SECTION******************************************/
header {
	background-color: #f3f1ea;
}

.nav a {
	color: grey;
	font-size: 1em;
	padding-left: 17px;
}

.nav a:hover {
	color: grey;
}

.nav a:visited {
	color: grey;
}

.nav a.active {
	color: black;
}

/****************************HERO SECTION******************************************/
#hero-section {
	background-image: url(../imgs/hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 65vh;
}

#hero-section p {
	position: absolute;
	top: 100px;
	left: 190px;
	right: 0;
	display: block;
	width: 40%;
	background-color: #32c486;
}

/****************************INTRO SECTION******************************************/

/****************************RECENT WORK SECTION******************************************/

#recent-work-section h4,
#from-blog-section h4 {
	border-bottom: 1px solid grey;
}

/****************************INFO SECTION******************************************/

#info-section {
	background: #222222;
}

#info-bg ul {
	border-top: 1px solid rgb(81, 80, 80);
}

#info-bg ul li a {
	color: #aeadad;
	border-bottom: 1px solid rgb(81, 80, 80);
}
