body {
	font-family: 'Quicksand', sans-serif;
	background-color: #f3f1ea;
}

/****************************HEADER SECTION******************************************/

.nav a {
	color: grey;
	font-size: 1em;
	padding-left: 17px;
}

.nav a:hover {
	color: grey;
}

.nav a:visited {
	color: grey;
}

.nav a.active {
	color: black;
}

/****************************HERO SECTION******************************************/
#hero-section {
	background-image: url(../imgs/hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 65vh;
}

#hero-section p {
	position: absolute;
	top: 100px;
	left: 120px;
	right: 0;
	display: block;
	width: 40%;
	background-color: #32c486;
}
